* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $poppins;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #fffff2;
}


/*Main Container*/
.main_container {
    @include flex-Center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // .image-fond  {
    //     position: absolute;
    //     top: 220px;
    //     left: 300px;
    //     width: 800px;
    //     opacity: 0.7;
    // }


    /*Variante fond pied*/
    
    .image-fond  {
        position: absolute;
        top: 130px;
        left: 560px;
        width: 600px;
        rotate: 14deg;
        opacity:0.9;
    }
    @media only screen and (max-width:1100px){
        .image-fond {
            opacity: 0.5;
        }
    }

}


/*§§§§§§§§§§§§§§§*/
/*Left section*/
.left-section {
    @include flex-center-column;
    align-items: self-start;
    z-index: 10;
    height: 100%;


    .left-section__logo {
        @include flex-Center;
        background-color: $bleu;
        width: 540px;
        height: 180px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 2px 20px $vert2;
        
        img{
            width: 400px;
        }
    }

    .left-section__text-part{
        @include Slide(slide-right, 2s);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 100px;
        margin-left: 10%;
        width: 600px;
        height: 500px;

        h1 {
            margin-bottom: 0.5em;
            font-size: 62px;
            font-weight: 700;
            line-height: 80px;
            color: $bleu;
            text-align: center;
        }

        h2 {
            font-size: 100px;
            font-weight: 700;
            line-height: 110px;
            color: $vert1;
            text-align: center;
            text-shadow: 3px 3px 3px $bleu;
        }

        h3{
            margin-top: 0.5em;
            font-size: 50px;
            font-weight: 700;
            line-height: 80px;
            color: $bleu;
            text-align: center;
            // margin-left: 20%;
            
            span {
                color: $vert1;
                text-shadow: 2px 2px 3px $bleu;
            }
        }
    }
}




/*§§§§§§§§§§§§§§§*/
/*Right-section*/
.right-section {
    @include flex-center-column;
    align-items: flex-end;
    height: 100%;
    z-index: 10;
    min-width: 500px;
    width: 40%;


    .right-section__liens {
        @include flex-center-column;
        animation: opac-douce 6s;
        align-self: center;
        justify-content: space-around;
        width: 100%;
        height: 340px;
        margin-top: 40px;
        // margin-right: 30px;


        a {
            @include flex-Center;
            width: 380px;
            height: 50px;
            border-radius: 15px;
            text-decoration: none;
            text-align: center;
            border-bottom : solid 4px $violet;
            border-right : solid 2px $violet;
            color: $violet;
            background-color: #fffff2;
            font-size: 18px;
            // text-shadow: 0.5px 0.5px 0.5px $bleu;
        }

        #a1 {
            margin-right: 40%;
            color: $vert1;
            border-bottom : solid 4px $vert1;
            border-right : solid 2px $vert1;
        }

        #a1:hover {
            border: solid 2px $vert1;
        }


        #a2 {
            margin-right: 20%;
            color: $bleu;
            border-bottom : solid 4px $bleu;
            border-right : solid 2px $bleu;
        }

        #a2:hover {
            border: solid 2px $bleu;
        }


        a:hover {
            border: solid 2px $violet;
            box-shadow: 4px 4px 7px $bleu;
        }
    }@include opac-douce;



    .right-section__triptyque {
        @include Slide(slide-top, 4s);
        margin-top: 240px;

        img {
        
            width: 400px;
        }
    }
}






/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/* Responsive design 1100px max*/
@media only screen and (max-width:1100px){
    /*Main Container 1100px max*/
    .main_container {
        @include flex-center-column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .image-fond  {
            top: 220px;
            left: 120px;
            width: 600px;
        }
    }


    /*§§§§§§§§§§§§§§§*/
    /*Left section 1100px max*/
    .left-section {
        @include flex-center-column;
        align-items: flex-start;
        height: 100%;
        width: 100%;


        .left-section__logo {
            @include flex-Center;
            width: 540px;
            height: 180px;
            border-bottom-right-radius: 15px;
            box-shadow: 2px 2px 20px $vert2;
            
            img{
                width: 400px;
            }
        }

        .left-section__text-part{
            @include Slide(slide-right, 2s);
            display: flex;
            margin-top: 100px;
            margin-left: 0;
            width: 100%;
            height: 100%;

            
            h1 {
                display: flex;
                align-self: flex-end;
                margin-right: 10%;
                width: 500px;
                font-size: 60px;
                line-height: 110px;
                text-shadow: 2px 2px 2px $bleu;

            }

            h2{
                align-self: flex-start;
                margin-left: 5%;
                width: 70%;
                font-size: 80px;
                line-height: 80px;

            }
            
            h3 {
                width: 90%;
                span {
                    text-shadow: 3px 3px 3px $bleu;
                }
            }

            
        }
    }




    /*§§§§§§§§§§§§§§§*/
    /*Right-section 1100px max*/
    .right-section {
        @include flex-center-column;
        align-items: flex-end;
        height: 100%;
        min-width: 500px;
        width: 100%;


        .right-section__liens {
            @include flex-center-column;
            justify-content: space-around;
            width: 100%;
            min-width: 400px;
            height: 340px;
            margin-top: 40px;
            margin-right: 0;


            a {
                @include flex-Center;
                width: 380px;
                height: 50px;
                border-radius: 15px;
                border-bottom : solid 4px $violet;
                border-right : solid 2px $violet;
                font-size: 18px;
            }

            #a1 {
                margin-right: 20%;
            }
    
            #a2 {
                margin-right: 0;
            }

            #a3 {
                margin-right: -20%;
            }
        }@include opac-douce;



        .right-section__triptyque {
            @include Slide(slide-top, 4s);
            margin-top: 60px;

            img {
            
                width: 400px;
            }
        }
    }
}






/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/* Responsive design 700px max*/
@media only screen and (max-width:700px){
    /*Main Container 700px max*/
    .main_container {
        @include flex-center-column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .image-fond  {
            top: 240px;
            left: 120px;
            width: 400px;
        }
    }


    /*§§§§§§§§§§§§§§§*/
    /*Left section 700px max*/
    .left-section {
        @include flex-center-column;
        align-items: flex-start;
        height: 100%;
        width: 100%;


        .left-section__logo {
            @include flex-Center;
            width: 420px;
            height: 150px;
            border-bottom-right-radius: 15px;
            box-shadow: 2px 2px 20px $vert2;
            
            img{
                width: 320px;
            }
        }

        .left-section__text-part{
            @include Slide(slide-right, 2s);
            display: flex;
            margin-top: 60px;
            margin-left: 0;
            width: 100%;
            height: 100%;

            
            h1 {
                display: flex;
                align-self: flex-end;
                margin-right: 0;
                width: 500px;
                font-size: 46px;
                line-height: 80px;
                text-shadow: 1px 1px 2px $bleu;
            }

            h2{
                align-self: flex-start;
                margin-left: 5%;
                width: 70%;
                font-size: 56px;
                line-height: 60px;
            }

            h3{
                margin-top: 0.5em;
                font-size: 40px;
                font-weight: 700;
                line-height: 60px;
                text-align: center;
                // margin-left: 20%;    
                span {
                    text-shadow: 3px 3px 3px $bleu;
                }
            }
        }
    }




    /*§§§§§§§§§§§§§§§*/
    /*Right-section 700px max*/
    .right-section {
        @include flex-center-column;
        align-items: flex-end;
        height: 100%;
        min-width: 500px;
        width: 100%;


        .right-section__liens {
            @include flex-center-column;
            justify-content: space-around;
            width: 100%;
            min-width: 400px;
            height: 340px;
            margin-top: 40px;
            margin-right: 0;


            a {
                @include flex-Center;
                width: 340px;
                height: 40px;
                border-bottom : solid 4px $violet;
                border-right : solid 2px $violet;
                font-size: 16px;
            }

            #a1 {
                margin-right: 20%;
            }
    
            #a2 {
                margin-right: 0;
            }

            #a3 {
                margin-right: -20%;
            }
        }



        .right-section__triptyque {
            margin-top: 40px;

            img {
            
                width: 400px;
            }
        }
    }
}






/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/*§§§§§§§§§§§§§§§§§§§§*/
/* Responsive design 500px max*/
@media only screen and (max-width:500px){
    /*Main Container 500px max*/
    .main_container {
        @include flex-center-column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .image-fond  {
            top: 160px;
            left: 10%;
            width: 300px;
        }
    }


    /*§§§§§§§§§§§§§§§*/
    /*Left section 500px max*/
    .left-section {
        @include flex-center-column;
        align-items: flex-start;
        height: 100%;
        width: 100%;


        .left-section__logo {
            @include flex-Center;
            width: 260px;
            height: 100px;
            border-bottom-right-radius: 15px;
            box-shadow: 2px 2px 10px $vert2;
            
            img{
                width: 200px;
            }
        }

        .left-section__text-part{
            @include Slide(slide-right, 2s);
            display: flex;
            margin-top: 40px;
            margin-left: 0;
            width: 100%;
            height: 100%;

            
            h1 {
                display: flex;
                align-self: center;
                margin-right: 0;
                width: 260px;
                font-size: 34px;
                line-height: 40px;
                text-shadow: 1px 1px 1px $bleu;
            }

            h2{
                align-self: center;
                margin-left: 0;
                width: 90%;
                font-size: 44px;
                line-height: 56px;
                text-shadow: 1px 1px 2px $bleu;

            }
                
            h3{
                margin-top: 0.5em;
                font-size: 30px;
                font-weight: 700;
                line-height: 38px;
                text-align: center;
                // margin-left: 20%;    
                span {
                    text-shadow: 3px 3px 3px $bleu;
                }
            }
        }
    }




    /*§§§§§§§§§§§§§§§*/
    /*Right-section 500px max*/
    .right-section {
        @include flex-center-column;
        align-items: flex-end;
        height: 100%;
        min-width: 280px;
        width: 100%;


        .right-section__liens {
            @include flex-center-column;
            justify-content: space-around;
            width: 100%;
            min-width: 28px;
            height: 300px;
            margin-top: 40px;
            margin-right: 0;


            a {
                @include flex-Center;
                width: 260px;
                height: 36px;
                border-bottom : solid 4px $violet;
                border-right : solid 2px $violet;
                border-radius: 10px;
                font-size: 12px;
            }

            #a1 {
                margin-right: 10%;
            }
    
            #a2 {
                margin-right: 0;
            }

            #a3 {
                margin-right: -10%;
            }
        }



        .right-section__triptyque {
            margin-top: 20px;

            img {
            
                width: 300px;
            }
        }
    }
}